{% extends "base.html" %}
{% block content %}
    <div class="form-style-6">
        <h1>Add product</h1>
        <form action="{{ url_for('create_product') }}" method="post">

            <input type="text" name="product_name" placeholder="Product name" />
            <input type="text" name="quantity" placeholder="Quantity" />
            <select id="ddlViewBy">
                {% for item in category -%}
                     <option value="{{ item.idCategory }}">{{ item.name }}</option>
                {%- endfor %}
            </select>

            <input style="display:none" id="selectedCategory" type="text" name="category" placeholder="Category" />
            <br>
            <input onclick="setValue()" type="submit" value="Send" />
        </form>
    </div>

    <script src="/static/js/my_profile.js"></script>

{% endblock %}

